<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xd.shenxinhelp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".com.xd.shenxinhelp.ui.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".com.xd.shenxinhelp.ui.ContainerActivity"
            android:label="@string/title_activity_container"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".com.xd.shenxinhelp.ui.FirstLoginActivity" />
        <activity
            android:name=".com.xd.shenxinhelp.ui.BodyHelpActivity"
            android:label="@string/title_activity_body_help"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".com.xd.shenxinhelp.ui.EyeHelpActivity"
            android:label="@string/title_activity_eye_help"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".com.xd.shenxinhelp.ui.MentalityActivity"
            android:label="@string/title_activity_mentality"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".com.xd.shenxinhelp.ui.ExamHelpActivity"
            android:label="@string/title_activity_exam"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".com.xd.shenxinhelp.ui.HelpContentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".com.xd.shenxinhelp.ui.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".group.RankActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".group.GroupDetailActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".group.MyPlanActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
        android:name=".group.MakePlanActivity"
        android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".group.GroupMemberActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".com.xd.shenxinhelp.ui.VideoPlayerActivity" />
        <activity android:name=".com.xd.shenxinhelp.ui.LineChartActivity"></activity>
    </application>

</manifest>